<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>CPR - 직업 추천 페이지</title>
        <!-- D3.js-->
        <script src="https://d3js.org/d3.v7.min.js"></script>
        <style>
            textarea {
                width: 100%;
                height: 100px;
                margin-bottom: 20px;
            }
            .question {
                margin-bottom: 20px;
            }
            .question label {
                display: block;
                font-weight: bold;
            }
            .node {
                stroke: #fff;
                stroke-width: 1.5px;
            }
            .link {
                stroke: #999;
                stroke-opacity: 0.6;
            }
            text {
                font: 10px sans-serif;
                pointer-events: none;
            }
        </style>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Custom Google font-->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        {% load static %}
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column h-100 bg-light">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
                <div class="container px-5">
                    <a class="navbar-brand" href="/"><span class="fw-bolder text-primary">CPR</span></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                            <li class="nav-item"><a class="nav-link" href="/resume/">Resume</a></li>
                            <li class="nav-item"><a class="nav-link" href="/viewdb/">ViewDB</a></li>
                            <li class="nav-item"><a class="nav-link" href="/community/">Community</a></li>
                            <li class="nav-item"><a class="nav-link" href="/contact/">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Projects Section-->
            <section class="py-5">
                <div class="container px-5 mb-5">
                    <div class="text-center mb-3">
                        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">직업 추천</span></h1>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-11 col-xl-9 col-xxl-8">
                            <!-- Project Card 1-->
                            <ul>
                                <li>이력서에서 역량 추출을 원한다면 이력서를 업로드 해주세요.</li>
                                <li>&lt;당신은 누구십니까?&gt;는 질문에 답을 함으로써 당신의 잠재적 역량을 찾아줍니다. 10개의 문항이 모두 답하지 않아도 됩니다.</li>
                                <li>두가지 다 고려하길 원한다면 두 가지를 다 한 후 &lt;역량 추출하기&gt;버튼을 누르고, 만약 둘 중 하나만 하길 원한다면 하나만 해도 괜찮습니다.</li>
                            </ul>
                            {% if skills %}
                            <div class="form-control">
                                <h3 class="fw-bolder my-3">이력서 및 질문지에서 추출된 역량:</h3>
                                <p id="skillsList"></p>
                            </div>
                            <div>
                                <label for="newSkill">※ 추가할 역량이 있나요??(없으면 생략)</label>
                                <input class="form-control-sm" type="text" id="newSkill" placeholder="Add new skill">
                                <button class="btn btn-outline-success fw-border" onclick="addSkill(this)">추가</button>
                            </div>
                            <button class="btn btn-dark btn-lg px-5 py-3 fs-6 mb-3 fw-bolder" onclick="submitSkills(this)">추천 직업 보기</button>
                            {% endif %}
                            <form method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
                                <button class="btn btn-outline-dark mb-3" type="submit" name="action" value="requestAPI">
                                    {% if skills %}
                                        다시 추출하기
                                    {% else %}
                                        역량 추출하기
                                    {% endif %}
                                </button>
                                {% csrf_token %}
                                <div class="form-control mb-3">
                                    <h4 class="fw-bolder my-3">이력서를 업로드해주세요</h4>
                                    <input class="mb-3" type="file" name="file">
                                </div>
                                {% if uploaded_file_name %}
                                    <p>업로드된 파일: {{ uploaded_file_name }}</p>
                                {% endif %}
                                <div class="form-control mb-3">
                                    <h2 class="fw-bolder mt-3 text-center">당신은 누구십니까?</h2>
                                    <div class="form-check mb-3">
                                        <label for="question1">Q1. 내가 해도 남보다 잘하겠다 싶은 일은?</label>
                                        <textarea class="form-control my-2" id="question1" name="answer1">{{ answers.0 }}</textarea>
                                    </div>
                                    <div class="form-check mb-3">
                                        <label for="question2">Q2. 쉽게 포기하지 않는 일은?</label>
                                        <textarea class="form-control my-2" id="question2" name="answer2">{{ answers.1 }}</textarea>
                                    </div>
                                    <div class="form-check mb-3">
                                        <label for="question3">Q3. 스스로 자랑스럽게 느껴지는 일은?</label>
                                        <textarea class="form-control my-2" id="question3" name="answer3">{{ answers.2 }}</textarea>
                                    </div>
                                    <div class="form-check mb-3">
                                        <label for="question4">Q4. 남들에게 지독하다, 또는 대단하다 칭찬 들은 일이 있는가?</label>
                                        <textarea class="form-control my-2" id="question4" name="answer4">{{ answers.3 }}</textarea>
                                    </div>
                                    <div class="form-check mb-3">
                                        <label for="question5">Q5. 기꺼이 밤새울 수 있는 일은?</label>
                                        <textarea class="form-control my-2" id="question5" name="answer5">{{ answers.4 }}</textarea>
                                    </div>
                                    <div class="form-check mb-3">
                                        <label for="question6">Q6. 오랜 시간 계속 하고 있는 일이 있다면?</label>
                                        <textarea class="form-control my-2" id="question6" name="answer6">{{ answers.5 }}</textarea>
                                    </div>
                                    <div class="form-check mb-3">
                                        <label for="question7">Q7. 존경하거나 되고싶은 인물은?</label>
                                        <textarea class="form-control my-2" id="question7" name="answer7">{{ answers.6 }}</textarea>
                                    </div>
                                    <div class="form-check mb-3">
                                        <label for="question8">Q8. 도전해보고 싶은 일은?</label>
                                        <textarea class="form-control my-2" id="question8" name="answer8">{{ answers.7 }}</textarea>
                                    </div>
                                    <div class="form-check mb-3">
                                        <label for="question9">Q9. 어떤 분야에 돈을 가장 많이 쓰는가?</label>
                                        <textarea class="form-control my-2" id="question9" name="answer9">{{ answers.8 }}</textarea>
                                    </div>
                                </div>
                            </form>
                            <script>
                                let skills = {{ skills|safe }};
                                
                                function validateForm() {
                                    const fileInput = document.querySelector('input[type="file"]');
                                    
                                    // question1 ~ question9 요소들의 값을 배열로 수집
                                    const answers = Array.from({ length: 9 }, (_, i) => {
                                        const questionId = `question${i + 1}`;
                                        return document.getElementById(questionId)?.value || '';
                                    });
                            
                                    // 파일이 없고 answers도 모두 비어있는 경우
                                    if (!fileInput.files.length && answers.every(answer => answer === '')) {
                                        alert('내용을 업로드해 주세요');
                                        return false; // form 제출 중단
                                    }
                            
                                    return true; // form 제출 진행
                                }

                                // 추가할 역량을 skills 배열에 추가
                                function addSkill(button) {
                                    const newSkill = document.getElementById('newSkill').value.trim();
                                    if (newSkill) {
                                        skills.push(newSkill);
                                        document.getElementById('newSkill').value = '';
                                        updateSkillsList();
                                    }
                                }

                                function submitSkills(button) {
                                    fetch('result/', {
                                        method: 'POST',
                                        headers: {
                                            'Content-Type': 'application/json',
                                            'X-CSRFToken': '{{ csrf_token }}'
                                        },
                                        body: JSON.stringify({ skills: skills })
                                    })
                                    .then(data => {
                                        if (data) {
                                            console.log('Skills submitted successfully');
                                        } else {
                                            console.log('Failed to submit skills');
                                        }
                                        window.location.href = 'result/'
                                    })
                                    .catch(error => {
                                        console.error('Error:', error);
                                    });
                                }

                                // skills 목록을 업데이트
                                function updateSkillsList() {
                                    const skillsList = document.getElementById('skillsList');
                                    skillsList.innerHTML = skills.join(', ');
                                }

                                // 페이지 로드 시 skills 목록 초기화
                                document.addEventListener('DOMContentLoaded', updateSkillsList);
                            </script>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- Footer-->
        <footer class="bg-light py-4 mt-auto">
            <div class="container px-5"><div class="small text-center text-muted">Copyright © Your Website 2024</div></div>
        </footer>
        <!-- Bootstrap JS-->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    </body>
</html>
